# Iterator, Iterable, Sorted, Comprehensions

## Looping "Under the Hood"

So many things to loop over... in Python, you can toss an object in a for loop, and if it can give up one element at a time, you can iterate over that particular object

### Types that are Iterable

So... some examples of iterable objects:

In [45]:
# str
for ch in "mable":
    print(ch)

m
a
b
l
e

In [46]:
# list
for ele in ["mable", "dipper"]:
    print(ele)

mable
dipper

In [47]:
# tuple
for n in (1, 2, 3):
    print(n)

1
2
3

In [48]:
# set
for ele in {'foo', 'bar', 'baz'}:
    print(ele)

bar
foo
baz

In [49]:
# range object
for i in range(5):
    print(i)

0
1
2
3
4

In [50]:
d = {'x':1, 'y':2}
for k, v in d.items():
    print(k, v)

x 1
y 2

In [51]:
# a file object
try:
    with open('/tmp/foo.txt', 'r') as f:
        for line in f:
            print(line)
except FileNotFoundError as e:
    print('no file, but if we had, we could have looped over it')

no file, but if we had, we could have looped over it

### But How Does Looping Actually Work? ðŸ¤”

A for loop works like this:

1. it calls iter() on the object it's looping over
2. we get an iterator back
3. the for loop continually calls next on the iterator object
4. until a StopIteration exception occurs

The looping "interface" consists of a couple of methods:

1. __iter__ on a container object; it will return an object that implements next
2. __next__ on an iterator object; it will give back an element

^^^ both container and iterator can be the *same* object (which is why you can return self for body of __iter__)

Some definitions:

* iterable object is an object that's capable of giving back an iterator
* iterator is an object that implements the __next__ method

Some built in functions:

* `iter(obj)` - will cause `obj`'s `__iter__` method to be called
* `next(obj)` - will cause `obj`'s `__next__` method to be called

### Repeatedly Calling Next on a List

This is _kind_ of how looping works. Let's start off with a list:

In [53]:
artists = ['lil uzi vert', 'lil baby', 'lil nas x', 'lil yachty', 'lil kim', 'joji', 'drake']

In [54]:
artists

['lil uzi vert',
 'lil baby',
 'lil nas x',
 'lil yachty',
 'lil kim',
 'joji',
 'drake']

...now, let's get an iterator from the list

In [55]:
my_iterator = iter(artists)

...repeatedly call next on the iterator to get all elements

In [56]:
next(my_iterator)

'lil uzi vert'

In [57]:
next(my_iterator)

'lil baby'

In [58]:
next(my_iterator)

'lil nas x'

In [59]:
next(my_iterator)

'lil yachty'

In [60]:
next(my_iterator)

'lil kim'

In [61]:
next(my_iterator)

'joji'

In [62]:
next(my_iterator)

'drake'

In [64]:
# last element causes StopIteration to be "thrown"
next(my_iterator)

StopIteration:

### Our Own Iterable...

In [65]:
class Countdown:
    def __init__(self, start):
        self.cur = start
    def __iter__(self):
        return self
    def __next__(self):
        ret = self.cur
        if self.cur > 0:
            self.cur -= 1
        else:
            raise StopIteration
        return ret

In [66]:
c = Countdown(5)

In [67]:
for i in c:
    print(i)

5
4
3
2
1

### More Examples

In [69]:
class CountToTen:
    def __init__(self):
        self.n = 1

    # oh hey... I'm also an iterator, I can return myself
    def __iter__(self):
        return self

    def __next__(self):
        # stop counting at 10 by raising exception
        if self.n > 10:
            raise StopIteration
        ret = self.n
        self.n += 1
        return ret
    
for num in CountToTen():
    print(num)

1
2
3
4
5
6
7
8
9
10

In [71]:
class InfiniteAlphabet:
    START, END = 65, 90
    def __init__(self):
        self.code_point = InfiniteAlphabet.START

    def __iter__(self):
        return self

    def __next__(self):
        letter = chr(self.code_point)
        self.code_point += 1
        if self.code_point > InfiniteAlphabet.END:
            self.code_point = InfiniteAlphabet.START
        return letter

alphabet = InfiniteAlphabet()
iterator = iter(alphabet)
print(next(iterator))
print(next(iterator))
print(next(iterator))

A
B
C

## Using Sorted; a Function as an Argument

In [72]:
sorted(artists)

['drake',
 'joji',
 'lil baby',
 'lil kim',
 'lil nas x',
 'lil uzi vert',
 'lil yachty']

In [73]:
# sort by length of word (note that len, a function, is passed in as keyword argument!)
sorted(artists, key=len)

['joji',
 'drake',
 'lil kim',
 'lil baby',
 'lil nas x',
 'lil yachty',
 'lil uzi vert']

In [75]:
# sort alphabetically by name, but if name starts with lil... 
# ignore lil and use remainder of artists name for sorting purposes
def bigify(s):
    return s.replace('lil', '')

In [76]:
sorted(artists, key=bigify)

['lil baby',
 'lil kim',
 'lil nas x',
 'lil uzi vert',
 'lil yachty',
 'drake',
 'joji']

In [79]:
# quick aside on lambda... we can make a function in one line
# ... by using an expression that evaluates to a function
# ... this expression is a lambda function
double_num = lambda x: x * 2
double_num(20)

40

In [80]:
# using a lambda function as an argument!
sorted(artists, key=lambda s: s.replace('lil', ''))

['lil baby',
 'lil kim',
 'lil nas x',
 'lil uzi vert',
 'lil yachty',
 'drake',
 'joji']

## List, Set, Dictionary Comprehensions

In [27]:
acc = []
for a in artists:
    acc.append(a.replace('lil', ''))

In [28]:
acc

[' uzi vert', ' baby', ' nas x', ' yachty', ' kim', 'joji', 'drake']

In [29]:
[name * 2 for name in artists if 'lil' not in name ]

['jojijoji', 'drakedrake']

In [30]:
numbers = [1, 2, 2, 3, 3, 3]

In [31]:
{n * n for n in numbers}

{1, 4, 9}

In [32]:
{ch * 2 for ch in 'banana' if ch not in 'aeiou'}

{'bb', 'nn'}

In [33]:
{ch: i for i, ch in enumerate('banana')}

{'b': 0, 'a': 5, 'n': 4}