# Sequence Types

## lists, strings... range objects?

* iterate (`for` loop)
* index (`[]`)
* built-in functions: `len`
* concatenation and repetition `+` and `*`
* `in` and `not in`
* slicing `[start:stop:step]`

In [24]:
fruits = ['rambutan', 'jackfruit', 'lychee', 'apple', 'orange']

In [25]:
s = 'is this a fruit?'

In [26]:
s[-3:]

'it?'

In [27]:
fruits[-3:]

['lychee', 'apple', 'orange']

## A Little About Range

### range is an Immutable Sequence Type!

* you can loop
* ...index
* ...but you can't assign

In [28]:
r = range(5)
type(r)
print(r[0])

0

In [29]:
for i in r:
    print(i)

0
1
2
3
4

### Assignment Will Raise a TypeError!

In [30]:
try:
    r[0] = 21
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> 'range' object does not support item assignment

## Tuples are Also an Immutable Squence Type

### Note that you can create a tuple simply with commas

But there are some instances where you need parentheses

In [31]:
# only commas!
t = 1, 2, 3

# with one element, element and comma
one_element = 2,

print(t)
print(one_element)

(1, 2, 3)
(2,)

In [32]:
# note that if you want a tuple literal as an argument
# ...it has to be wrapped in parentheses
print((1, 2, 3), 4)

(1, 2, 3) 4

### Again Immutable!

In [33]:
try:
    t[0] = 'please change!'
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> 'tuple' object does not support item assignment

### Unpacking...

In [34]:
word1, word2 = 'foo', 'bar'
t2 = 'foo', 'bar'

In [35]:
word1, word2 = t2

### Tuples in a List

In [36]:
points = [(1, 2), (3, 4), (5, 6)]
for p in points:
    # type is tuple on each iteration...
    print(type(p))
    print(p)

<class 'tuple'>
(1, 2)
<class 'tuple'>
(3, 4)
<class 'tuple'>
(5, 6)

In [37]:
# printing out both the x and y components
for p in points:
    # this requires indexing...
    print('x', p[0])
    print('y', p[1])

x 1
y 2
x 3
y 4
x 5
y 6

### Unpacking Directly in Loop Variable

In [38]:
for x, y in points:
    print('x', x)
    print('y', y)

x 1
y 2
x 3
y 4
x 5
y 6

### Using enumerate to get index and element

In [39]:
# old way with range...
rappers = ['royce da 59', 'mgk', 'eminmem']
for i in range(len(rappers)):
    print(i, rappers[i])

0 royce da 59
1 mgk
2 eminmem

In [40]:
result = enumerate(rappers)

In [41]:
result

In [42]:
list(result)

[(0, 'royce da 59'), (1, 'mgk'), (2, 'eminmem')]

In [43]:
# enumerate!
for i, rapper_name in enumerate(rappers):
    print(i, rapper_name)

0 royce da 59
1 mgk
2 eminmem

## Dictionaries and Using items

In [44]:
person = {"first":"joe", "last":"v", "middle": "j"}

In [45]:
for prop in person:
    print(prop)

first
last
middle

In [46]:
for k in person:
    print(person[k])

joe
v
j

In [47]:
list(person.items())

[('first', 'joe'), ('last', 'v'), ('middle', 'j')]

In [48]:
for k, v in person.items():
    print(k, v)

first joe
last v
middle j

In [49]:
result = person.values()

In [50]:
result

dict_values(['joe', 'v', 'j'])

### Sets

In [51]:
# use curly braces
words = {'foo', 'bar', 'baz', 'foo'}
print(words)

{'baz', 'foo', 'bar'}

In [52]:
# creating an empty set ({} is an empty dictionary, not a n empty set)
empty = set()

In [53]:
words2 = {'qux','corge'}

In [54]:
words.union(words2)

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [55]:
words | words2

{'bar', 'baz', 'corge', 'foo', 'qux'}

In [56]:
words.union(words2, {'quxx', 'idk'})

{'bar', 'baz', 'corge', 'foo', 'idk', 'qux', 'quxx'}

In [57]:
words & {'bar', 'baz', 'qux'}

{'bar', 'baz'}

In [58]:
try:
    # set elements cannot be mutable!
    {'foo', [1, 2, 3]}
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> unhashable type: 'list'

In [59]:
set([1, 2, 2, 2, 3])

{1, 2, 3}

In [60]:
words

{'bar', 'baz', 'foo'}

In [61]:
# methods may take iterables, and methods like union will work
words.union([1, 2, 3])

{1, 2, 3, 'bar', 'baz', 'foo'}

In [62]:
try:
    # set operators will raise exception if there are different types
    words | [1, 2, 3]
except TypeError as e:
    print(type(e), e)

<class 'TypeError'> unsupported operand type(s) for |: 'set' and 'list'