## Databases and Python 

* psycopg2
* SQLAlchemy ... Raw SQL, Expression Langauge, ORM
* pandas: from_sql and to_sql (using lists of tuples as well)

* field questions on hw
* overview mongodb

## pyscopg2

* database adapter .... connects to a database, for a specific database backend
* specifically aimed for postgres
* fully implements DB API 2... a spec from PEP
    * how do you create a connection object
    * what's a cursor
    * etc.

In [2]:
import psycopg2

In [4]:
conn = psycopg2.connect(user='joe', password='data0480', database='scratch')

In [5]:
cur = conn.cursor()

In [6]:
cur.execute('select * from artist limit 5')

In [9]:
# iterating over the cursor
# gives you the result set
# each row is a tuple
for row in cur:
    print(row)

In [10]:
print(cur.fetchone())

None

In [11]:
cur.execute('select * from artist limit 5')

In [12]:
cur.fetchone()

(1,
 'Robert Arneson',
 'American, 1930–1992',
 'American',
 'Male',
 '1930',
 '1992',
 None,
 None)

In [13]:
cur.fetchone()

(2,
 'Doroteo Arnaiz',
 'Spanish, born 1936',
 'Spanish',
 'Male',
 '1936',
 '0',
 None,
 None)

In [14]:
cur.execute('select * from artist limit 5')

In [15]:
result = cur.fetchall()

In [16]:
print(result)

[(1, 'Robert Arneson', 'American, 1930–1992', 'American', 'Male', '1930', '1992', None, None), (2, 'Doroteo Arnaiz', 'Spanish, born 1936', 'Spanish', 'Male', '1936', '0', None, None), (3, 'Bill Arnold', 'American, born 1941', 'American', 'Male', '1941', '0', None, None), (4, 'Charles Arnoldi', 'American, born 1946', 'American', 'Male', '1946', '0', 'Q1063584', '500027998'), (5, 'Per Arnoldi', 'Danish, born 1941', 'Danish', 'Male', '1941', '0', None, None)]

In [17]:
cur.description

(Column(name='artist_id', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None),
 Column(name='name', type_code=1043, display_size=None, internal_size=255, precision=None, scale=None, null_ok=None),
 Column(name='bio', type_code=25, display_size=None, internal_size=-1, precision=None, scale=None, null_ok=None),
 Column(name='nationality', type_code=1043, display_size=None, internal_size=255, precision=None, scale=None, null_ok=None),
 Column(name='gender', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='begin_date', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='end_date', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='wiki_qid', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='ulan', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None))

In [18]:
[col[0] for col in cur.description]

['artist_id',
 'name',
 'bio',
 'nationality',
 'gender',
 'begin_date',
 'end_date',
 'wiki_qid',
 'ulan']

In [27]:
q = "insert into artist (artist_id, name, bio) values (123456, 'joe v', 'i''m an artist')"

In [28]:
cur.execute(q)

In [29]:
conn.commit()

In [30]:
conn.autocommit = True

In [31]:
q = "insert into artist (artist_id, name, bio) values (123457, 'y k', 'pumpkins!!!!i''m an artist')"
cur.execute(q)

In [32]:

conn.autocommit = False

In [33]:
q = "insert into artist (artist_id, name, bio) values (123458, 'foo b', 'baz qux!')"
cur.execute(q)

In [34]:
cur.execute('select * from artist where artist_id = 123458')

In [35]:
for row in cur:
    print(row)

(123458, 'foo b', 'baz qux!', None, None, None, None, None, None)

In [36]:

q = """insert into artist (artist_id, name, bio) values 
(%s, %s, %s)"""
cur.execute(q, (123459, "joe again", "I'm an artist!???"))

In [37]:
conn.commit()

## OOP in Python

In [38]:
class Foo():
    bar = 'baz'
    
    def __init__(self):
        self.qux = 'corge'

In [39]:
Foo.bar

'baz'

In [40]:
f1 = Foo()

In [41]:
f2 = Foo()

In [42]:
f1.bar

'baz'

In [43]:
f1.qux

'corge'

In [45]:
# Foo.qux

## SQLAlchemy

* known for ORM
* Object Relational Mapper
    * ...how does a row in a database translate to an actual Python object
    * ORM is a library that does this mapping
    * sometimes this a manual task
    * or it can be automatic
    * SQLAlchemy
* other ways to use it:
    * RAW SQL
    * Expression Language

In [48]:
import sqlalchemy
from sqlalchemy import create_engine

In [49]:
# dsn data source name
# protocol://usrename:password@hostname:port/databasename
# postgres://
# 1st arg to create engine
# echo kw arg.... log out the sql generated
# echo=True

In [52]:
username = 'joe'
password = 'data0480'
databasename = 'scratch'
engine = create_engine(f'postgres://{username}:{password}@localhost/{databasename}')

In [53]:
result = engine.execute('select * from artwork limit 5')

In [54]:
for row in result:
    print(row)

('Ferdinandsbrücke Project, Vienna, Austria, Elevation, preliminary version', '6210', '1896', 'Ink and cut-and-pasted painted pages on paper', '19 1/8 x 66 1/2" (48.6 x 168.9 cm)', 'Fractional and promised gift of Jo Carole and Ronald S. Lauder', '885.1996', 'Architecture', 'Architecture & Design', '1996-04-09', 'Y', 2, 'http://www.moma.org/collection/works/2', 'http://www.moma.org/media/W1siZiIsIjU5NDA1Il0sWyJwIiwiY29udmVydCIsIi1yZXNpemUgMzAweDMwMFx1MDAzZSJdXQ.jpg?sha=137b8455b1ec6167', None, None, None, Decimal('48.6'), None, None, Decimal('168.9'), None, None)
('City of Music, National Superior Conservatory of Music and Dance, Paris, France, View from interior courtyard', '7470', '1987', 'Paint and colored pencil on print', '16 x 11 3/4" (40.6 x 29.8 cm)', 'Gift of the architect in honor of Lily Auchincloss', '1.1995', 'Architecture', 'Architecture & Design', '1995-01-17', 'Y', 3, 'http://www.moma.org/collection/works/3', 'http://www.moma.org/media/W1siZiIsIjk3Il0sWyJwIiwiY29udmVydCIsIi1yZXNpemUgMzAweDMwMFx1MDAzZSJdXQ.jpg?sha=55b65fa4368fe00a', None, None, None, Decimal('40.6401'), None, None, Decimal('29.8451'), None, None)
('Villa near Vienna Project, Outside Vienna, Austria, Elevation', '7605', '1903', 'Graphite, pen, color pencil, ink, and gouache on tracing paper', '13 1/2 x 12 1/2" (34.3 x 31.8 cm)', 'Gift of Jo Carole and Ronald S. Lauder', '1.1997', 'Architecture', 'Architecture & Design', '1997-01-15', 'Y', 4, 'http://www.moma.org/collection/works/4', 'http://www.moma.org/media/W1siZiIsIjk4Il0sWyJwIiwiY29udmVydCIsIi1yZXNpemUgMzAweDMwMFx1MDAzZSJdXQ.jpg?sha=fdcfca4db3acac1f', None, None, None, Decimal('34.3'), None, None, Decimal('31.8'), None, None)
('The Manhattan Transcripts Project, New York, New York, Introductory panel to Episode 1: The Park', '7056', '1980', 'Photographic reproduction with colored synthetic laminate', '20 x 20" (50.8 x 50.8 cm)', 'Purchase and partial gift of the architect in honor of Lily Auchincloss', '2.1995', 'Architecture', 'Architecture & Design', '1995-01-17', 'Y', 5, 'http://www.moma.org/collection/works/5', 'http://www.moma.org/media/W1siZiIsIjEyNCJdLFsicCIsImNvbnZlcnQiLCItcmVzaXplIDMwMHgzMDBcdTAwM2UiXV0.jpg?sha=c89b9071486760a5', None, None, None, Decimal('50.8'), None, None, Decimal('50.8'), None, None)
('Villa, project, outside Vienna, Austria, Exterior perspective', '7605', '1903', 'Graphite, color pencil, ink, and gouache on tracing paper', '15 1/8 x 7 1/2" (38.4 x 19.1 cm)', 'Gift of Jo Carole and Ronald S. Lauder', '2.1997', 'Architecture', 'Architecture & Design', '1997-01-15', 'Y', 6, 'http://www.moma.org/collection/works/6', 'http://www.moma.org/media/W1siZiIsIjEyNiJdLFsicCIsImNvbnZlcnQiLCItcmVzaXplIDMwMHgzMDBcdTAwM2UiXV0.jpg?sha=b21f3d10def77da9', None, None, None, Decimal('38.4'), None, None, Decimal('19.1'), None, None)

In [55]:
engine.execute("insert into artist (artist_id, name, bio) values (123456, 'joe v', 'an artist!!!')")

## Expression Language

* very thin abstraction over a relational database and sql
* it provides methods and objects that correspond one-to-one to sql statements, column types, etc.
* a lot of the methods give back a string representation that is the actual sql generated

SQLAlchemy exepcts some meta data abt your database

* `Column`
* `Table`
* `MetaData`

In [56]:
from sqlalchemy import Table, Column, MetaData
from sqlalchemy import Integer, String

In [59]:
dsn = f'postgres://{username}:{password}@localhost/{databasename}'
db = create_engine(dsn, echo=True)
meta = MetaData(db)

# first arg is table name as string
# 2nd is MetaData object to add Table to
# all others are columns: Column constructor, with string matching
# column name, and second type as appropriate type
artist_table = Table('artist', meta,
                       Column('artist_id', Integer),
                       Column('name', String),
                       Column('bio', String))

In [66]:
a = artist_table.insert().values(artist_id=123457, name='joe again', bio='yup!!!!')

In [67]:
from sqlalchemy.orm import sessionmaker

In [68]:
Session = sessionmaker(db)

In [69]:
session = Session()

In [70]:
session.add(a)

UnmappedInstanceError: Class 'sqlalchemy.sql.dml.Insert' is not mapped

In [71]:
with db.connect() as conn:
    s = artist_table.insert().values(artist_id=123456, name="joe v", bio="i'm an artist!?")
    print(s)
    conn.execute(s)

2018-11-14 16:36:24,480 INFO sqlalchemy.engine.base.Engine select version()
2018-11-14 16:36:24,483 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 16:36:24,493 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-14 16:36:24,498 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 16:36:24,506 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-14 16:36:24,510 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 16:36:24,515 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-14 16:36:24,517 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 16:36:24,522 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-14 16:36:24,524 INFO sqlalchemy.engine.base.Engine {}
INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)
2018-11-14 16:36:24,530 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)
2018-11-14 16:36:24,532 INFO sqlalchemy.engine.base.Engine {'artist_id': 123456, 'name': 'joe v', 'bio': "i'm an artist!?"}
2018-11-14 16:36:24,540 INFO sqlalchemy.engine.base.Engine COMMIT

In [72]:
q = artist_table.select()

In [73]:
q

In [74]:
print(q)

SELECT artist.artist_id, artist.name, artist.bio
FROM artist

In [75]:
print(artist_table.c.name == 'joe v')

artist.name = :name_1

In [76]:
from sqlalchemy import create_engine
from sqlalchemy import Column, String, Integer

# base class for our classes
from sqlalchemy.ext.declarative import declarative_base

# database "session"
from sqlalchemy.orm import sessionmaker

In [77]:
db

Engine(postgres://joe:***@localhost/scratch)

In [78]:
Base = declarative_base()

In [79]:
class Artist(Base):
    __tablename__ = 'artist'

    artist_id = Column(Integer, primary_key=True)
    name = Column(String)
    bio = Column(String)

In [80]:
Session = sessionmaker(db)
session = Session()

a = Artist(artist_id=123456, name="joe v", bio="yes, i'm an artist, ok!?")
# add this new object to our session so we can persist it
session.add(a)
session.commit()

2018-11-14 16:46:37,040 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 16:46:37,049 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)
2018-11-14 16:46:37,050 INFO sqlalchemy.engine.base.Engine {'artist_id': 123456, 'name': 'joe v', 'bio': "yes, i'm an artist, ok!?"}
2018-11-14 16:46:37,057 INFO sqlalchemy.engine.base.Engine COMMIT