# üêç + üêò

## Configuration

In [99]:
password = 'data0480'
user = "joe"
database = "scratch"
dsn = f'postgres://{user}:{password}@localhost/{database}'

## psycopg2

In [100]:
import psycopg2

In [101]:
conn = psycopg2.connect(user=user, password=password, database=database)
# check the docs...
# psycopg2.connect?

In [102]:
cur = conn.cursor()

In [103]:
cur.execute('select * from artist limit 5')

In [104]:
for row in cur:
    print(row)

(1, 'Robert Arneson', 'American, 1930‚Äì1992', 'American', 'Male', '1930', '1992', None, None)
(2, 'Doroteo Arnaiz', 'Spanish, born 1936', 'Spanish', 'Male', '1936', '0', None, None)
(3, 'Bill Arnold', 'American, born 1941', 'American', 'Male', '1941', '0', None, None)
(4, 'Charles Arnoldi', 'American, born 1946', 'American', 'Male', '1946', '0', 'Q1063584', '500027998')
(5, 'Per Arnoldi', 'Danish, born 1941', 'Danish', 'Male', '1941', '0', None, None)

In [105]:
# can't fetch any more! 
# cuz result set has been iterated through
res = cur.fetchone()
print(res)

None

In [106]:
cur.execute('select * from artist limit 5')
cur.fetchone()

(1,
 'Robert Arneson',
 'American, 1930‚Äì1992',
 'American',
 'Male',
 '1930',
 '1992',
 None,
 None)

In [107]:
# fetch rememberz!
cur.fetchone()

(2,
 'Doroteo Arnaiz',
 'Spanish, born 1936',
 'Spanish',
 'Male',
 '1936',
 '0',
 None,
 None)

In [108]:
# INSERT
# ack double ' to escape
cur.execute("insert into artist (artist_id, name, bio) values (123456, 'joe', 'i''m an artist!')")
conn.commit()

In [109]:
cur.execute("select * from artist where artist_id = 123456")
cur.fetchone()

(123456, 'joe', "i'm an artist!", None, None, None, None, None, None)

In [110]:
# UPDATE
cur.execute("update artist set nationality = 'American' where artist_id = 123456")
conn.commit()
cur.execute("select * from artist where artist_id = 123456")
cur.fetchone()

(123456, 'joe', "i'm an artist!", 'American', None, None, None, None, None)

In [111]:
# DELETE
cur.execute("delete from artist where artist_id = 123456")
conn.commit()

In [112]:
# rollback if InternalError
# conn.rollback()

In [113]:
# tired of manually calling commit?
conn.autocommit = True

In [114]:
# parameterized!!!!!!!!!
cur.execute("insert into artist (artist_id, name, bio) values (%s, %s, %s)", (123456, "joe", "i'm an artist!"))
# conn.commit() # no commit needed since we set autocommit above
cur.execute("select * from artist where artist_id = 123456")
print(cur.fetchone())

(123456, 'joe', "i'm an artist!", None, None, None, None, None, None)

In [115]:
cur.execute("delete from artist where artist_id = 123456")
# conn.commit() # no commit needed since we set autocommit above

In [116]:
conn.close()

## SQL Alchemy

### Raw SQL

In [125]:
from sqlalchemy import create_engine

In [126]:
engine = create_engine(dsn)

In [127]:
res = engine.execute('select * from artist limit 5')

In [128]:
for row in res:
    print(row)

(1, 'Robert Arneson', 'American, 1930‚Äì1992', 'American', 'Male', '1930', '1992', None, None)
(2, 'Doroteo Arnaiz', 'Spanish, born 1936', 'Spanish', 'Male', '1936', '0', None, None)
(3, 'Bill Arnold', 'American, born 1941', 'American', 'Male', '1941', '0', None, None)
(4, 'Charles Arnoldi', 'American, born 1946', 'American', 'Male', '1946', '0', 'Q1063584', '500027998')
(5, 'Per Arnoldi', 'Danish, born 1941', 'Danish', 'Male', '1941', '0', None, None)

In [129]:
res = engine.execute("insert into artist (artist_id, name, bio) values (123456, 'joe', 'i''m an artist!')" )
# cannot iterate; insert does not return rows!
#for row in res:
#    print(row)

# now check the database (yes, it does exist!)

In [130]:
res = engine.execute("delete from artist where artist_id = 123456" )

### Expression Language

In [133]:
from sqlalchemy import Table, Column, MetaData
from sqlalchemy import Integer, String

In [134]:
engine = create_engine(dsn, echo=True)

In [135]:
meta = MetaData(engine)

In [136]:
artist_table = Table('artist', 
                     meta, 
                    Column('artist_id', Integer),
                    Column('name', String),
                    Column('bio', String),
                    )

In [137]:
s = artist_table.insert().values(artist_id=123456, name="joe v", bio="i'm an artist!?")

In [139]:
print(s)

INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)

In [140]:
with engine.connect() as conn:
    conn.execute(s)

2018-11-14 13:33:18,942 INFO sqlalchemy.engine.base.Engine select version()
2018-11-14 13:33:18,945 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 13:33:18,952 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-14 13:33:18,954 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 13:33:18,960 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-14 13:33:18,963 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 13:33:18,969 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-14 13:33:18,974 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 13:33:18,980 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-14 13:33:18,981 INFO sqlalchemy.engine.base.Engine {}
2018-11-14 13:33:18,987 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)
2018-11-14 13:33:18,990 INFO sqlalchemy.engine.base.Engine {'artist_id': 123456, 'name': 'joe v', 'bio': "i'm an artist!?"}
2018-11-14 13:33:19,002 INFO sqlalchemy.engine.base.Engine COMMIT

In [154]:
from sqlalchemy import select
match = '%jack%'
# q = artist_table.select([artist_table.c.artist_id, artist_table.c.name]).where(artist_table.c.name.like(match)).limit(10)
q = select([artist_table.c.artist_id, artist_table.c.name])
print(q)
q = select([artist_table.c.artist_id, artist_table.c.name]).limit(5)
print(q)
q = select([artist_table.c.artist_id, artist_table.c.name]).where(artist_table.c.name == 'joe v').limit(5)
print(q)
q = select([artist_table.c.artist_id, artist_table.c.name]).where(artist_table.c.name.ilike('%jack%')).limit(5)
print(q)

SELECT artist.artist_id, artist.name
FROM artist
SELECT artist.artist_id, artist.name
FROM artist
 LIMIT %(param_1)s
SELECT artist.artist_id, artist.name
FROM artist
WHERE artist.name = %(name_1)s
 LIMIT %(param_1)s
SELECT artist.artist_id, artist.name
FROM artist
WHERE artist.name ILIKE %(name_1)s
 LIMIT %(param_1)s

In [155]:
with engine.connect() as conn:
    result = conn.execute(q)
    for row in result:
        print(row)
        print(row[0], row[1]) 
        print(row[artist_table.c.name])

2018-11-14 14:06:51,671 INFO sqlalchemy.engine.base.Engine SELECT artist.artist_id, artist.name
FROM artist
WHERE artist.name ILIKE %(name_1)s
 LIMIT %(param_1)s
2018-11-14 14:06:51,677 INFO sqlalchemy.engine.base.Engine {'name_1': '%jack%', 'param_1': 5}
(408, 'Jack Beal')
408 Jack Beal
Jack Beal
(645, 'Jakob (Jack) Friedrich Bollschweiler')
645 Jakob (Jack) Friedrich Bollschweiler
Jakob (Jack) Friedrich Bollschweiler
(893, 'Jack Bush')
893 Jack Bush
Jack Bush
(1270, 'Jack Coughlin')
1270 Jack Coughlin
Jack Coughlin
(1475, 'Jack Delano')
1475 Jack Delano
Jack Delano

In [164]:
match = '%jack%'
cols = [artist_table.c.artist_id, artist_table.c.name]
name_filter = artist_table.c.name.like('%jack%');
q = select(cols).where(name_filter).limit(5)
print(name_filter)
print(cols)
print(artist_table.c.name == 'joe v')
print(q)

artist.name LIKE :name_1
[Column('artist_id', Integer(), table=<artist>), Column('name', String(), table=<artist>)]
artist.name = :name_1
SELECT artist.artist_id, artist.name
FROM artist
WHERE artist.name LIKE %(name_1)s
 LIMIT %(param_1)s

### ORM

In [166]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [167]:
Base = declarative_base()

In [179]:
class Artist(Base):
    __tablename__ = 'artist'
    
    # only need this to deal with table metadata already having been defined above
    __table_args__ = {'extend_existing': True} 
    
    artist_id = Column('artist_id', Integer, primary_key=True)
    name = Column('name', String)
    bio = Column('bio', String)
    
    def __repr__(self):
        return f'{self.artist_id}: {self.name}'
    
    def __str__(self):
        return self.__repr__()

In [187]:
Session = sessionmaker(engine)

In [188]:
session = Session()

In [201]:
a = Artist(name='joe v', bio='an artist', artist_id=123456)

In [202]:
print(a)

123456: joe v

In [203]:
a

123456: joe v

In [204]:
session.add(a)

In [205]:
session.commit()

2018-11-14 14:48:33,826 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 14:48:33,831 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)
2018-11-14 14:48:33,836 INFO sqlalchemy.engine.base.Engine {'artist_id': 123456, 'name': 'joe v', 'bio': 'an artist'}
2018-11-14 14:48:33,856 INFO sqlalchemy.engine.base.Engine COMMIT

In [206]:
# session.rollback()
artists = session.query(Artist).filter(Artist.name == 'joe v')

In [207]:
artists[0]

2018-11-14 14:48:39,417 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 14:48:39,422 INFO sqlalchemy.engine.base.Engine SELECT artist.artist_id AS artist_artist_id, artist.name AS artist_name, artist.bio AS artist_bio
FROM artist
WHERE artist.name = %(name_1)s
 LIMIT %(param_1)s
2018-11-14 14:48:39,431 INFO sqlalchemy.engine.base.Engine {'name_1': 'joe v', 'param_1': 1}

123456: joe v

In [208]:
session.delete(artists[0])

2018-11-14 14:48:40,314 INFO sqlalchemy.engine.base.Engine SELECT artist.artist_id AS artist_artist_id, artist.name AS artist_name, artist.bio AS artist_bio
FROM artist
WHERE artist.name = %(name_1)s
 LIMIT %(param_1)s
2018-11-14 14:48:40,317 INFO sqlalchemy.engine.base.Engine {'name_1': 'joe v', 'param_1': 1}

In [209]:
session.commit()

2018-11-14 14:48:43,082 INFO sqlalchemy.engine.base.Engine DELETE FROM artist WHERE artist.artist_id = %(artist_id)s
2018-11-14 14:48:43,087 INFO sqlalchemy.engine.base.Engine {'artist_id': 123456}
2018-11-14 14:48:43,136 INFO sqlalchemy.engine.base.Engine COMMIT

In [213]:
class Artwork(Base):
    __tablename__ = 'artwork'
    
    __table_args__ = {'extend_existing': True} 
    
    artwork_id = Column('artwork_id', Integer, primary_key=True)
    artwork_date = Column('artwork_date', String)
    title = Column('title', String)
    
    def __repr__(self):
        return f'{self.name}, {self.date}'

In [215]:
from sqlalchemy import ForeignKey
artist_artwork = Table('artist_artwork', meta,
                      Column('artist_id', Integer, ForeignKey('artist.artist_id')),
                      Column('artwork_id', Integer, ForeignKey('artwork.artwork_id')),
                      )

In [221]:
a = session.query(Artist).filter(Artist.name.ilike('%jack%'))

In [222]:
a

In [223]:
a[0]

2018-11-14 15:05:14,009 INFO sqlalchemy.engine.base.Engine SELECT artist.artist_id AS artist_artist_id, artist.name AS artist_name, artist.bio AS artist_bio
FROM artist
WHERE artist.name ILIKE %(name_1)s
 LIMIT %(param_1)s
2018-11-14 15:05:14,012 INFO sqlalchemy.engine.base.Engine {'name_1': '%jack%', 'param_1': 1}

408: Jack Beal

## Pandas

In [224]:
import pandas as pd

In [226]:
conn = psycopg2.connect(user='joe', password='data0480', database='scratch')

In [227]:
cur = conn.cursor()

In [236]:
cur.execute('select * from artist limit 10')

In [237]:
result = cur.fetchall()

In [238]:
cur.description

(Column(name='artist_id', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None),
 Column(name='name', type_code=1043, display_size=None, internal_size=255, precision=None, scale=None, null_ok=None),
 Column(name='bio', type_code=25, display_size=None, internal_size=-1, precision=None, scale=None, null_ok=None),
 Column(name='nationality', type_code=1043, display_size=None, internal_size=255, precision=None, scale=None, null_ok=None),
 Column(name='gender', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='begin_date', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='end_date', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='wiki_qid', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='ulan', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None))

In [239]:
[col[0] for col in cur.description]

['artist_id',
 'name',
 'bio',
 'nationality',
 'gender',
 'begin_date',
 'end_date',
 'wiki_qid',
 'ulan']

In [241]:
df = pd.DataFrame(result, columns=[col[0] for col in cur.description])

In [242]:
df

,artist_id,name,bio,nationality,gender,begin_date,end_date,wiki_qid,ulan
0,1,Robert Arneson,"American, 1930‚Äì1992",American,Male,1930,1992,None,None
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,None,None
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,None,None
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,None,None
5,6,Danilo Aroldi,"Italian, born 1925",Italian,Male,1925,0,None,None
6,7,Bill Aron,"American, born 1941",American,Male,1941,0,None,None
7,9,David Aronson,"American, born Lithuania 1923",American,Male,1923,0,Q5230870,500003363
8,10,Irene Aronson,"American, born Germany 1918",American,Female,1918,0,Q19748568,500042413
9,11,Jean (Hans) Arp,"French, born Germany (Alsace). 1886‚Äì1966",French,Male,1886,1966,Q153739,500031000

In [243]:
engine

Engine(postgres://joe:***@localhost/scratch)

In [246]:
df = pd.read_sql('select * from artwork limit 3', engine)

2018-11-14 15:16:17,936 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-14 15:16:17,942 INFO sqlalchemy.engine.base.Engine {'name': 'select * from artwork limit 3'}
2018-11-14 15:16:17,973 INFO sqlalchemy.engine.base.Engine select * from artwork limit 3
2018-11-14 15:16:17,982 INFO sqlalchemy.engine.base.Engine {}

In [247]:
df

,title,constituent_ids,artwork_date,medium,dimensions,credit_line,accession_number,classification,department,date_acquired,...,thumbnail_url,circumference,depth,diameter,height,length,weight,width,seat_height,duration
0,"Ferdinandsbr√ºcke Project, Vienna, Austria, Ele...",6210,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",Fractional and promised gift of Jo Carole and ...,885.1996,Architecture,Architecture & Design,1996-04-09,...,http://www.moma.org/media/W1siZiIsIjU5NDA1Il0s...,None,None,None,48.6000,None,None,168.9000,None,None
1,"City of Music, National Superior Conservatory ...",7470,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",Gift of the architect in honor of Lily Auchinc...,1.1995,Architecture,Architecture & Design,1995-01-17,...,http://www.moma.org/media/W1siZiIsIjk3Il0sWyJw...,None,None,None,40.6401,None,None,29.8451,None,None
2,"Villa near Vienna Project, Outside Vienna, Aus...",7605,1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",Gift of Jo Carole and Ronald S. Lauder,1.1997,Architecture,Architecture & Design,1997-01-15,...,http://www.moma.org/media/W1siZiIsIjk4Il0sWyJw...,None,None,None,34.3000,None,None,31.8000,None,None

In [248]:
df = pd.DataFrame([(123456, 'joe v', 'an artist'), (123457, 'foo b', 'also an artist')], columns=['artist_id', 'name', 'bio'])

In [249]:
df

   artist_id   name             bio
0     123456  joe v       an artist
1     123457  foo b  also an artist

In [253]:
df.to_sql('artist', con=engine, if_exists='append', index=False)

2018-11-14 15:20:41,173 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-14 15:20:41,180 INFO sqlalchemy.engine.base.Engine {'name': 'artist'}
2018-11-14 15:20:41,201 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-14 15:20:41,205 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)
2018-11-14 15:20:41,209 INFO sqlalchemy.engine.base.Engine ({'artist_id': 123456, 'name': 'joe v', 'bio': 'an artist'}, {'artist_id': 123457, 'name': 'foo b', 'bio': 'also an artist'})
2018-11-14 15:20:41,219 INFO sqlalchemy.engine.base.Engine COMMIT

In [266]:
class Foo():
    bar = 'baz'
    def __init__(self):
        self.qux = 'corge'

In [267]:
f1 = Foo()

In [268]:
f2 = Foo()

In [269]:
print(f1.bar, f1.qux)

baz corge

In [270]:
print(f2.bar, f2.qux)

baz corge

In [259]:
f1.bar = 'wat'

In [260]:
f1.qux = 'ok'

In [261]:
print(f2.bar, f2.qux)

baz corge

In [262]:
f1.bar

'wat'

In [271]:
Foo.bar = '....'

In [272]:
f1.bar

'....'

In [273]:
f2.bar

'....'