# compound types

values composed of other values

* sequence
    * strings
    * lists
    * range
    * tuple
* mapping
    * dict
    * collections.Counter
* sets
    * set
    * frozenset

## operators for sequences

* concatenation and repetition
* index[i], slice[start:end:step]
* iteration, for loop
* take the length of, with len
* test for membership using in and not in

In [1]:
s = 'hello'

In [2]:
s[0]

'h'

In [3]:
s[1:]

'ello'

In [4]:
for ch in s:
    print(ch)

h
e
l
l
o

In [5]:
print(ch)

o

In [6]:
len(s)

5

In [7]:
'lo' in s

True

In [8]:
'abc' > 'cbc'

False

In [9]:
fruits = ['orange', 'apple', 'lychee', 'rambutan']

In [10]:
fruits[-1]

'rambutan'

In [11]:
fruits[:3]

['orange', 'apple', 'lychee']

In [12]:
for f in fruits:
    print(f)

orange
apple
lychee
rambutan

In [13]:
[1, 2, 3] > [1, 1, 3]

True

In [14]:
'orange' in fruits

True

In [15]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [17]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

## differences btwn strings and lists:

* syntax "'s vs []'s
* strings can only contain strings whereas lists can contain any type... and within a list, there can be different types
* strings are immutable; lists are mutable (they can be changed)
* methods work differently w/ strings and lists

In [18]:
stuff = [True, None, 'some string', 1.0]

In [19]:
instrument = 'cello'

In [21]:
try:
    instrument[0] = 'h'
except TypeError:
    print('strings are immutable!')

strings are immutable!

In [22]:
numbers = [1, 2, 3]

In [23]:
numbers[0] = 1000

In [24]:
numbers

[1000, 2, 3]

In [25]:
a = [1, 2, 3]
b = a
b[0] = 99
print(a)

[99, 2, 3]

In [26]:
s

'hello'

In [27]:
result = s.upper()

In [28]:
result

'HELLO'

In [29]:
s

'hello'

## list methods:

adding

* append
* extend
* insert

get rid of element

* remove
* pop

misc

* index
* count

In [30]:
fruits

['orange', 'apple', 'lychee', 'rambutan']

In [31]:
fruits.append('longan')

In [32]:
fruits

['orange', 'apple', 'lychee', 'rambutan', 'longan']

In [33]:
result = fruits.append('strawberry')

In [34]:
fruits

['orange', 'apple', 'lychee', 'rambutan', 'longan', 'strawberry']

In [35]:
result

In [36]:
print(result)

None

In [37]:
type(result)

NoneType

In [38]:
fruits

['orange', 'apple', 'lychee', 'rambutan', 'longan', 'strawberry']

In [39]:
result = fruits.remove('apple')

In [40]:
print(result)

None

In [42]:
fruits

['orange', 'lychee', 'rambutan', 'longan', 'strawberry']

In [43]:
last_ele = fruits.pop()

In [44]:
last_ele

'strawberry'

In [45]:
fruits

['orange', 'lychee', 'rambutan', 'longan']

In [46]:
# common practice for adding to a list
# use append (don't use + or +=)

In [47]:
my_list = []

In [48]:
my_list.append(1)

In [49]:
my_list

[1]

In [52]:
my_list += [2]

In [53]:
my_list

[1, 2]

In [54]:
my_list

[1, 2]

In [55]:
my_list.extend([3, 4])

In [56]:
my_list

[1, 2, 3, 4]

In [57]:
my_list.append([5, 6])

In [58]:
my_list

[1, 2, 3, 4, [5, 6]]

# range objects

immutable arithmetic sequences

range(start, stop, step)

depending on # of args, other args will be optional
* 1 arg version ... start is 0, stop is supplied, step is 1
* 2 arg version ... supply both start and stop

* start is inclusive
* stop is exclusive

In [60]:
r = range(3)

In [61]:
list(r)

[0, 1, 2]

In [62]:
r

range(0, 3)

In [63]:
r[-1]

2

In [64]:
r[1:]

range(1, 3)

In [65]:
for i in r:
    print(i)

0
1
2

In [67]:
# r[0] = 100

In [68]:
fruits

['orange', 'lychee', 'rambutan', 'longan']

In [69]:
# print out 
# 0 orange
# 1 lychee
# 2 rambutan .... etc

In [71]:
# not idiomatic in python
# we'll see better ways below
for i in range(len(fruits)):
    print(i, fruits[i])

0 orange
1 lychee
2 rambutan
3 longan

In [72]:
t = 1, 2, 3

In [73]:
t

(1, 2, 3)

In [74]:
t * 2

(1, 2, 3, 1, 2, 3)

In [75]:
for item in t:
    print(item)

1
2
3

In [77]:
# type error... tuples are immutable!!!!!!
#t[-1] = 99

In [78]:
# tuples usually contain separate elements contained in a single value

date = 2020, 1, 30

In [79]:
# tuple unpacking... unpack elements
# into separate variables

In [80]:
date

(2020, 1, 30)

In [81]:
year, month, day = date

In [82]:
year

2020

In [83]:
month

1

# enumerate

* pass it a list (or other iterable)
* return a new "list-like" object and each element
* ...is a two element tuple, with the first being index
* second being value

In [84]:
my_list = [(0, 1), (2, 3), (4, 5)]
for ele in my_list:
    print(type(ele))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [85]:

for a, b in my_list:
    print(a)
    print(b)

0
1
2
3
4
5

In [86]:
fruits

['orange', 'lychee', 'rambutan', 'longan']

In [87]:
enumerate(fruits)

In [88]:
list(enumerate(fruits))

[(0, 'orange'), (1, 'lychee'), (2, 'rambutan'), (3, 'longan')]

In [89]:
for i, fruit in enumerate(fruits):
    print(i, fruit)

0 orange
1 lychee
2 rambutan
3 longan

In [90]:
list(enumerate('hello'))

[(0, 'h'), (1, 'e'), (2, 'l'), (3, 'l'), (4, 'o')]

In [91]:
print(1, 2)

1 2

In [92]:
1, 2

(1, 2)

In [93]:
print((1, 2))

(1, 2)

In [95]:
fruits.reverse()

In [96]:
reversed(fruits)

In [97]:
enumerate(reversed(fruits))

In [98]:
d = {}

In [99]:
d = {"first": "joe", "last": "versoza"}

In [100]:
d["room"] = 422

In [101]:
d["first"]

'joe'

In [102]:
d["room"]

422

In [104]:
try:
    d["favorite candy"]
except KeyError:
    print('i do not candy')

i do not candy

In [105]:
d.get('room')

422

In [106]:
d.get('dne')

In [107]:
d.get('dne', 'some default value')

'some default value'

In [108]:
d

{'first': 'joe', 'last': 'versoza', 'room': 422}

In [109]:
d[1, 2] = 'ok?'

In [110]:
d

{'first': 'joe', 'last': 'versoza', 'room': 422, (1, 2): 'ok?'}

In [111]:
food = 'banana'

In [113]:
# use a dict to count the occurence of each letter in food
# letter as key, value is count

In [115]:
counts = {}
for ch in food:
    try: 
        counts[ch] += 1
    except KeyError:
        counts[ch] = 1

In [117]:
counts = {}
for ch in food:
    counts[ch] = counts.get(ch, 0) + 1

In [118]:
counts

{'b': 1, 'a': 3, 'n': 2}

In [119]:
# another mapping type is a Counter object
from collections import Counter

In [121]:
counts = Counter('banana')

In [122]:
counts

Counter({'b': 1, 'a': 3, 'n': 2})

In [123]:
counts.most_common()

[('a', 3), ('n', 2), ('b', 1)]

In [124]:
s1 = {1, 2, 3}

In [125]:
s2 = {1, 1, 1, 2, 2, 2, 3, 3}

In [126]:
s2

{1, 2, 3}

In [127]:
s3 = set()

In [128]:
# most types have an analogous function / constructor named
# after that type

In [129]:
int('5')

5

In [130]:
dict()

{}

In [131]:
s3 = set()

In [132]:
s3

set()

In [133]:
{1, 2, 3} | {2, 3, 4}

{1, 2, 3, 4}

In [134]:
{1, 2, 3} & {2, 3, 4}

{2, 3}

In [135]:
# subset, superset, < and >
# difference, -

In [136]:
s2

{1, 2, 3}

In [137]:
s2.union({2, 3, 4})

{1, 2, 3, 4}

In [138]:
s2

{1, 2, 3}

In [ ]:
frozenset