# Class Notes Accompanying Numpy Basics Slides

In [1]:
import numpy as np

## Creating Arrays

In [78]:
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [79]:
a = np.array((1, 2, 3))
a

array([1, 2, 3])

In [6]:
np.array(range(5))

array([0, 1, 2, 3, 4])

In [7]:
np.array("asdf")

array('asdf', dtype='<U4')

In [8]:
np.arange(2, 11, 2)

array([ 2,  4,  6,  8, 10])

random val from normal dist where mean is 0 (and ??? std is 1)

In [9]:
np.random.randn(3, 2)

array([[-0.63594041,  0.64907243],
       [ 0.561068  ,  0.4687579 ],
       [ 1.23602202, -0.07034934]])

In [10]:
np.zeros((3, 2))

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [11]:
np.arange(5) + 1

array([1, 2, 3, 4, 5])

## Describing an Array

In [88]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [89]:
a.ndim

2

In [90]:
a.shape

(2, 3)

In [15]:
a

array([[1, 2, 3],
       [4, 5, 6]])

In [91]:
a.dtype

dtype('int64')

In [92]:
a = np.array([[1, 2, 3], [4, 5, 6]], dtype='float64')
a

array([[1., 2., 3.],
       [4., 5., 6.]])

In [18]:
a

array([[1., 2., 3.],
       [4., 5., 6.]])

In [93]:
a.astype('int64')

array([[1, 2, 3],
       [4, 5, 6]])

In [94]:
a # has not changed!

array([[1., 2., 3.],
       [4., 5., 6.]])

## Reshaping

In [97]:
a = np.arange(9)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [98]:
a.shape

(9,)

In [101]:
a.shape = (3, 3)
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [103]:
a = np.arange(9)
a.reshape(3, 3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [104]:
a # has not changed!

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [29]:
a.shape = (3, 3)

In [30]:
a

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## Arithmetic

In [105]:
a + 1

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [32]:
a # stays the same

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [33]:
a1 = np.ones((3, 3)); a2 = np.array([1, 2, 3])

In [34]:
a1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [35]:
a2

array([1, 2, 3])

## Repeats across rows

In [36]:
a1 + a2

array([[2., 3., 4.],
       [2., 3., 4.],
       [2., 3., 4.]])

In [37]:
a1

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

### Repeats across columns

In [106]:
a3 = np.array([[1], [2], [3]])
a1 + a3

array([[2., 2., 2.],
       [3., 3., 3.],
       [4., 4., 4.]])

### Broadcasting 🗣

In [107]:
a =  np.array([[10, 11, 12], [13, 14, 15]])

In [41]:
a[0]

array([10, 11, 12])

In [42]:
a[0][0]

10

In [43]:
a[0, 0]

10

In [108]:
a

array([[10, 11, 12],
       [13, 14, 15]])

In [109]:
a[0][0] = 0

In [110]:
a

array([[ 0, 11, 12],
       [13, 14, 15]])

In [111]:
a[0] = 222
a

## Slicing 🔪

### How does indexing with regular lists work again?

In [115]:
li = ['foo', 'bar', 'baz']
result = li[1:]
result

['bar', 'baz']

In [119]:
# it's a copy, does not affect li
result[0] = 'surprise!'
li

['foo', 'bar', 'baz']

### Different for ndarray though... it's a view!

In [120]:
a = np.arange(36).reshape((4, 3, 3))

In [121]:
a

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]],

       [[27, 28, 29],
        [30, 31, 32],
        [33, 34, 35]]])

In [122]:
# get first two tables
a[:2]

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]]])

In [123]:
# get first two tables, get last two rows of each table
a[:2,1:]

array([[[ 3,  4,  5],
        [ 6,  7,  8]],

       [[12, 13, 14],
        [15, 16, 17]]])

In [124]:
# ... or only middle column
a[:2,1:, 1:2]

array([[[ 4],
        [ 7]],

       [[13],
        [16]]])

In [125]:
# or reduce dimensionality by indexing insteading slicing
a[:2,1:,1]

array([[ 4,  7],
       [13, 16]])

## With Booleans

In [128]:
a = np.arange(10).reshape(5, 2)

In [129]:
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [130]:
a[[True, False, False, True, False]]

array([[0, 1],
       [6, 7]])

In [131]:

a[[True, False, False, True, False], -1]

array([1, 7])

In [132]:
a

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [133]:
# not a view (based on q in class)
window = a[[True, False, False, True, False], -1:]

In [134]:
window

array([[1],
       [7]])

In [135]:
window[0, 0] = 0

In [136]:
window

array([[0],
       [7]])

In [137]:
a # still the same!

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [138]:
# producing a boolean array
a[0] > 5

array([False, False])

## Indexing With List of Integers

In [139]:
a # original a with 5 rows

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [73]:
a[[1, 2, 1, 1]]

array([[2, 3],
       [4, 5],
       [2, 3],
       [2, 3]])

In [74]:
a[[1, 2, 1, 1], [0, 1, 0, 0]]

array([2, 5, 2, 2])

## Where

In [75]:
np.where([True, False, False, True], 'YAS', 'OHNO!!!!')

array(['YAS', 'OHNO!!!!', 'OHNO!!!!', 'YAS'], dtype='<U8')

In [76]:
np.where(np.arange(4) < 2, 'YAS', 'OHNO!!!!')

array(['YAS', 'YAS', 'OHNO!!!!', 'OHNO!!!!'], dtype='<U8')