# SQLAlchemy Relationships

## Setup

In [29]:
import sqlalchemy

# database engine
from sqlalchemy import create_engine

# columns and their types
from sqlalchemy import Column, Integer, String, DateTime

# FK
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

# base class for classes representing our tables
from sqlalchemy.ext.declarative import declarative_base

# session based connection for orm
from sqlalchemy.orm import sessionmaker

# handle now, etc.
from datetime import datetime

In [122]:
username = 'joe'
password = 'data0480'
host = 'localhost'
database = 'scratch'
dsn = f'postgres://{username}:{password}@{host}/{database}'
dsn

'postgres://joe:data0480@localhost/scratch'

In [123]:
engine = create_engine(dsn, echo=True)

In [124]:
# Base is the base class we'll use for our classes
Base = declarative_base()

In [125]:
Session = sessionmaker(engine)
session = Session()

## One to Many

In [126]:
# not a _real_ solution to scooter homework question
# but enough to show a rental with notes
class Note(Base):
    __tablename__ = 'note'
    
    note_id = Column('note_id', Integer, primary_key=True)
    note_text = Column('note_text', String)
    note_date = Column('note_date', 
                       DateTime(timezone=True), 
                       default=datetime.now())
    
    # match this up with primary key in parent table
    rental_id = Column(Integer, ForeignKey('rental.rental_id'))

    def __repr__(self):
        return f'{self.note_date} - {self.note_text}'
    
    def __str__(self):
        return self.__repr__()
    
class Rental(Base):
    __tablename__ = 'rental'
    
    rental_id = Column('rental_id', Integer, primary_key=True)
    email = Column('email', String)
    scooter_number = Column('scooter_number', Integer)
    rental_date = Column('rental_date', 
                         DateTime(timezone=True), 
                         default=datetime.now())
    return_date = Column('return_date', DateTime(timezone=True))
    
    # match this with Note for one-to-many relationship
    notes = relationship(Note)

    
    def __repr__(self):
        return f'{self.rental_id}: {self.rental_date} to {self.return_date} - {self.email} - {self.scooter_number}'
    
    def __str__(self):
        return self.__repr__()

In [7]:
# create tables
Base.metadata.create_all(engine)

In [8]:
r = Rental()
r.scooter_number = 123
r.email = 'foo@foo.foo'

n1 = Note(note_text="not yet returned, but renter said scooter was damaged")
n2 = Note(note_text="also, spilled coffee on the controls")

r.notes = [n1, n2]

session.add(r)
session.commit()

In [127]:
#result = session.query(Rental).filter(Rental.rental_id == 1)
result = session.query(Rental).filter(Rental.rental_id == 1).one()
print(result)

2018-11-19 13:45:10,034 INFO sqlalchemy.engine.base.Engine select version()
2018-11-19 13:45:10,045 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 13:45:10,061 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-19 13:45:10,073 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 13:45:10,086 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-19 13:45:10,088 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 13:45:10,097 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-19 13:45:10,102 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 13:45:10,107 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-19 13:45:10,110 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 13:45:10,121 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-19 13:45:10,124 INFO sqlalchemy.engine.base.Engine SELECT rental.rental_id AS rental_rental_id, rental.email AS rental_email, rental.scooter_number AS rental_scooter_number, rental.rental_date AS rental_rental_date, rental.return_date AS rental_return_date
FROM rental
WHERE rental.rental_id = %(rental_id_1)s
2018-11-19 13:45:10,126 INFO sqlalchemy.engine.base.Engine {'rental_id_1': 1}
1: 2018-11-18 19:43:28.010460-05:00 to None - foo@foo.foo - 123

In [78]:
    result[0]

2018-11-19 08:23:06,151 INFO sqlalchemy.engine.base.Engine select version()
2018-11-19 08:23:06,152 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 08:23:06,160 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-19 08:23:06,166 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 08:23:06,181 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-19 08:23:06,185 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 08:23:06,192 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-19 08:23:06,204 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 08:23:06,213 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-19 08:23:06,215 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 08:23:06,229 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-19 08:23:06,234 INFO sqlalchemy.engine.base.Engine SELECT rental.rental_id AS rental_rental_id, rental.email AS rental_email, rental.scooter_number AS rental_scooter_number, rental.rental_date AS rental_rental_date, rental.return_date AS rental_return_date
FROM rental
WHERE rental.rental_id = %(rental_id_1)s
 LIMIT %(param_1)s
2018-11-19 08:23:06,236 INFO sqlalchemy.engine.base.Engine {'rental_id_1': 1, 'param_1': 1}

1: 2018-11-18 19:43:28.010460-05:00 to None - foo@foo.foo - 123

In [116]:
#result[0].notes
result.notes

2018-11-19 13:38:15,466 INFO sqlalchemy.engine.base.Engine SELECT note.note_id AS note_note_id, note.note_text AS note_note_text, note.note_date AS note_note_date, note.rental_id AS note_rental_id
FROM note
WHERE %(param_1)s = note.rental_id
2018-11-19 13:38:15,474 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

[2018-11-18 19:43:28.023571-05:00 - not yet returned, but renter said scooter was damaged,
 2018-11-18 19:43:28.023571-05:00 - also, spilled coffee on the controls]

In [118]:
# result.count()

In [119]:
Base

sqlalchemy.ext.declarative.api.Base

In [82]:
Base.metadata.sorted_tables

[Table('rental', MetaData(bind=None), Column('rental_id', Integer(), table=<rental>, primary_key=True, nullable=False), Column('email', String(), table=<rental>), Column('scooter_number', Integer(), table=<rental>), Column('rental_date', DateTime(timezone=True), table=<rental>, default=ColumnDefault(datetime.datetime(2018, 11, 19, 8, 22, 48, 180762))), Column('return_date', DateTime(timezone=True), table=<rental>), schema=None),
 Table('note', MetaData(bind=None), Column('note_id', Integer(), table=<note>, primary_key=True, nullable=False), Column('note_text', String(), table=<note>), Column('note_date', DateTime(timezone=True), table=<note>, default=ColumnDefault(datetime.datetime(2018, 11, 19, 8, 22, 48, 192799))), Column('rental_id', Integer(), ForeignKey('rental.rental_id'), table=<note>), schema=None)]

In [95]:
class Foo(Base):
    __tablename__ = 'foo'
    bar = Column('bar', String(50), primary_key=True)

In [84]:
Foo.bar

In [96]:
f = Foo()

In [97]:
f.bar

In [98]:
print(Foo.bar == 'hello')

foo.bar = :bar_1

In [99]:
Foo.metadata.tables['foo']

Table('foo', MetaData(bind=None), Column('bar', String(length=50), table=<foo>, primary_key=True, nullable=False), schema=None)

In [100]:
type(Base)

sqlalchemy.ext.declarative.api.DeclarativeMeta

In [101]:
Foo.__table__

Table('foo', MetaData(bind=None), Column('bar', String(length=50), table=<foo>, primary_key=True, nullable=False), schema=None)

In [102]:
Foo.metadata.tables

immutabledict({'foo': Table('foo', MetaData(bind=None), Column('bar', String(length=50), table=<foo>, primary_key=True, nullable=False), schema=None)})

In [104]:
Base.metadata.create_all(engine)

2018-11-19 12:45:38,390 INFO sqlalchemy.engine.base.Engine select version()
2018-11-19 12:45:38,393 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 12:45:38,397 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-19 12:45:38,399 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 12:45:38,405 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-19 12:45:38,407 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 12:45:38,411 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-19 12:45:38,414 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 12:45:38,420 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-19 12:45:38,422 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 12:45:38,428 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-19 12:45:38,429 INFO sqlalchemy.engine.base.Engine {'name': 'foo'}
2018-11-19 12:45:38,502 INFO sqlalchemy.engine.base.Engine
CREATE TABLE foo (
	bar VARCHAR(50) NOT NULL,
	PRIMARY KEY (bar)
)


2018-11-19 12:45:38,504 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 12:45:38,746 INFO sqlalchemy.engine.base.Engine COMMIT

In [105]:
f.bar = 'qux'

In [107]:
session.add(f)
session.commit()

2018-11-19 12:46:24,915 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-19 12:46:24,924 INFO sqlalchemy.engine.base.Engine INSERT INTO foo (bar) VALUES (%(bar)s)
2018-11-19 12:46:24,926 INFO sqlalchemy.engine.base.Engine {'bar': 'qux'}
2018-11-19 12:46:24,944 INFO sqlalchemy.engine.base.Engine COMMIT

In [120]:
result = session.query(Foo).filter(Foo.bar == 'qux')

In [121]:
print(result)

SELECT foo.bar AS foo_bar
FROM foo
WHERE foo.bar = %(bar_1)s