In [1]:
import sqlalchemy
from sqlalchemy import create_engine

In [2]:
# columns and their types, including fk relationships
from sqlalchemy import Column, Integer, String, DateTime
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [3]:
# declarative base, session, and datetime
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime

In [4]:
username, password = 'joe', 'data0480'
host, database = 'localhost', 'class22'
dsn = f'postgres://{username}:{password}@{host}/{database}'

In [5]:
engine = create_engine(dsn, echo=True)
Base = declarative_base()
Session = sessionmaker(engine)
session = Session()

In [6]:
class Note(Base):
    __tablename__ = 'note'
    
    note_id = Column('note_id', Integer, primary_key=True)
    note_text = Column('note_text', String)
    note_date = Column('note_date', 
                       DateTime(timezone=True), 
                       default=datetime.now())
    
    # match this up with primary key in parent table
    rental_id = Column(Integer, ForeignKey('rental.rental_id'))

    def __repr__(self):
        return f'{self.note_date} - {self.note_text}'
    
    def __str__(self):
        return self.__repr__()

In [7]:
class Rental(Base):
    __tablename__ = 'rental'
    
    rental_id = Column('rental_id', Integer, primary_key=True)
    email = Column('email', String)
    scooter_number = Column('scooter_number', Integer)
    rental_date = Column('rental_date', 
                         DateTime(timezone=True), 
                         default=datetime.now())
    return_date = Column('return_date', DateTime(timezone=True))
    
    notes = relationship(Note) # match w/ Note for one-to-many 
    
    def __repr__(self):
        return f'{self.rental_id}: {self.rental_date} to {self.return_date} - {self.email} - {self.scooter_number}'
    
    def __str__(self):
        return self.__repr__()

In [8]:
Base.metadata

MetaData(bind=None)

In [9]:
Base.metadata.tables

immutabledict({'note': Table('note', MetaData(bind=None), Column('note_id', Integer(), table=<note>, primary_key=True, nullable=False), Column('note_text', String(), table=<note>), Column('note_date', DateTime(timezone=True), table=<note>, default=ColumnDefault(datetime.datetime(2018, 11, 19, 16, 16, 5, 89864))), Column('rental_id', Integer(), ForeignKey('rental.rental_id'), table=<note>), schema=None), 'rental': Table('rental', MetaData(bind=None), Column('rental_id', Integer(), table=<rental>, primary_key=True, nullable=False), Column('email', String(), table=<rental>), Column('scooter_number', Integer(), table=<rental>), Column('rental_date', DateTime(timezone=True), table=<rental>, default=ColumnDefault(datetime.datetime(2018, 11, 19, 16, 16, 52, 419104))), Column('return_date', DateTime(timezone=True), table=<rental>), schema=None)})

In [10]:
Note.__table__

Table('note', MetaData(bind=None), Column('note_id', Integer(), table=<note>, primary_key=True, nullable=False), Column('note_text', String(), table=<note>), Column('note_date', DateTime(timezone=True), table=<note>, default=ColumnDefault(datetime.datetime(2018, 11, 19, 16, 16, 5, 89864))), Column('rental_id', Integer(), ForeignKey('rental.rental_id'), table=<note>), schema=None)

In [11]:
# create tables
Base.metadata.create_all(engine)

2018-11-19 16:19:21,402 INFO sqlalchemy.engine.base.Engine select version()
2018-11-19 16:19:21,417 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:19:21,434 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-19 16:19:21,439 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:19:21,469 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-19 16:19:21,476 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:19:21,485 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-19 16:19:21,489 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:19:21,515 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-19 16:19:21,518 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:19:21,539 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-19 16:19:21,547 INFO sqlalchemy.engine.base.Engine {'name': 'note'}
2018-11-19 16:19:21,560 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-19 16:19:21,562 INFO sqlalchemy.engine.base.Engine {'name': 'rental'}
2018-11-19 16:19:21,575 INFO sqlalchemy.engine.base.Engine
CREATE TABLE rental (
	rental_id SERIAL NOT NULL,
	email VARCHAR,
	scooter_number INTEGER,
	rental_date TIMESTAMP WITH TIME ZONE,
	return_date TIMESTAMP WITH TIME ZONE,
	PRIMARY KEY (rental_id)
)


2018-11-19 16:19:21,589 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:19:21,726 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-19 16:19:21,756 INFO sqlalchemy.engine.base.Engine
CREATE TABLE note (
	note_id SERIAL NOT NULL,
	note_text VARCHAR,
	note_date TIMESTAMP WITH TIME ZONE,
	rental_id INTEGER,
	PRIMARY KEY (note_id),
	FOREIGN KEY(rental_id) REFERENCES rental (rental_id)
)


2018-11-19 16:19:21,759 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:19:21,885 INFO sqlalchemy.engine.base.Engine COMMIT

In [12]:
# create a rental
r = Rental()
r.scooter_number = 123
r.email = 'foo@foo.foo'

In [13]:
# add some notes
n1 = Note(note_text="not yet returned, but renter said scooter was damaged")
n2 = Note(note_text="also, spilled coffee on the controls")
r.notes = [n1, n2]

In [14]:
session.add(r)
session.commit()

2018-11-19 16:22:38,119 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-19 16:22:38,125 INFO sqlalchemy.engine.base.Engine INSERT INTO rental (email, scooter_number, rental_date, return_date) VALUES (%(email)s, %(scooter_number)s, %(rental_date)s, %(return_date)s) RETURNING rental.rental_id
2018-11-19 16:22:38,127 INFO sqlalchemy.engine.base.Engine {'email': 'foo@foo.foo', 'scooter_number': 123, 'rental_date': datetime.datetime(2018, 11, 19, 16, 16, 52, 419104), 'return_date': None}
2018-11-19 16:22:38,170 INFO sqlalchemy.engine.base.Engine INSERT INTO note (note_text, note_date, rental_id) VALUES (%(note_text)s, %(note_date)s, %(rental_id)s) RETURNING note.note_id
2018-11-19 16:22:38,172 INFO sqlalchemy.engine.base.Engine {'note_text': 'not yet returned, but renter said scooter was damaged', 'note_date': datetime.datetime(2018, 11, 19, 16, 16, 5, 89864), 'rental_id': 1}
2018-11-19 16:22:38,207 INFO sqlalchemy.engine.base.Engine INSERT INTO note (note_text, note_date, rental_id) VALUES (%(note_text)s, %(note_date)s, %(rental_id)s) RETURNING note.note_id
2018-11-19 16:22:38,210 INFO sqlalchemy.engine.base.Engine {'note_text': 'also, spilled coffee on the controls', 'note_date': datetime.datetime(2018, 11, 19, 16, 16, 5, 89864), 'rental_id': 1}
2018-11-19 16:22:38,216 INFO sqlalchemy.engine.base.Engine COMMIT

In [16]:
result = session.query(Rental).filter(Rental.rental_id == 1).one()

2018-11-19 16:24:30,537 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-19 16:24:30,547 INFO sqlalchemy.engine.base.Engine SELECT rental.rental_id AS rental_rental_id, rental.email AS rental_email, rental.scooter_number AS rental_scooter_number, rental.rental_date AS rental_rental_date, rental.return_date AS rental_return_date
FROM rental
WHERE rental.rental_id = %(rental_id_1)s
2018-11-19 16:24:30,558 INFO sqlalchemy.engine.base.Engine {'rental_id_1': 1}

In [17]:
result

1: 2018-11-19 16:16:52.419104-05:00 to None - foo@foo.foo - 123

In [18]:
result.notes

2018-11-19 16:24:58,175 INFO sqlalchemy.engine.base.Engine SELECT note.note_id AS note_note_id, note.note_text AS note_note_text, note.note_date AS note_note_date, note.rental_id AS note_rental_id
FROM note
WHERE %(param_1)s = note.rental_id
2018-11-19 16:24:58,180 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

[2018-11-19 16:16:05.089864-05:00 - not yet returned, but renter said scooter was damaged,
 2018-11-19 16:16:05.089864-05:00 - also, spilled coffee on the controls]

In [21]:
import psycopg2
conn = psycopg2.connect(user='joe', password='data0480', database='scratch')
cur = conn.cursor()
cur.execute('select * from artist limit 10')
result = cur.fetchall()
print(result)

[(1, 'Robert Arneson', 'American, 1930–1992', 'American', 'Male', '1930', '1992', None, None), (2, 'Doroteo Arnaiz', 'Spanish, born 1936', 'Spanish', 'Male', '1936', '0', None, None), (3, 'Bill Arnold', 'American, born 1941', 'American', 'Male', '1941', '0', None, None), (4, 'Charles Arnoldi', 'American, born 1946', 'American', 'Male', '1946', '0', 'Q1063584', '500027998'), (5, 'Per Arnoldi', 'Danish, born 1941', 'Danish', 'Male', '1941', '0', None, None), (6, 'Danilo Aroldi', 'Italian, born 1925', 'Italian', 'Male', '1925', '0', None, None), (7, 'Bill Aron', 'American, born 1941', 'American', 'Male', '1941', '0', None, None), (9, 'David Aronson', 'American, born Lithuania 1923', 'American', 'Male', '1923', '0', 'Q5230870', '500003363'), (10, 'Irene Aronson', 'American, born Germany 1918', 'American', 'Female', '1918', '0', 'Q19748568', '500042413'), (11, 'Jean (Hans) Arp', 'French, born Germany (Alsace). 1886–1966', 'French', 'Male', '1886', '1966', 'Q153739', '500031000')]

In [22]:
cur.description

(Column(name='artist_id', type_code=23, display_size=None, internal_size=4, precision=None, scale=None, null_ok=None),
 Column(name='name', type_code=1043, display_size=None, internal_size=255, precision=None, scale=None, null_ok=None),
 Column(name='bio', type_code=25, display_size=None, internal_size=-1, precision=None, scale=None, null_ok=None),
 Column(name='nationality', type_code=1043, display_size=None, internal_size=255, precision=None, scale=None, null_ok=None),
 Column(name='gender', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='begin_date', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='end_date', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='wiki_qid', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None),
 Column(name='ulan', type_code=1043, display_size=None, internal_size=20, precision=None, scale=None, null_ok=None))

In [23]:
print([col[0] for col in cur.description])

['artist_id', 'name', 'bio', 'nationality', 'gender', 'begin_date', 'end_date', 'wiki_qid', 'ulan']

In [24]:
import pandas as pd
df = pd.DataFrame(result, columns=[col[0] for col in cur.description])

In [25]:
df

,artist_id,name,bio,nationality,gender,begin_date,end_date,wiki_qid,ulan
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,None,None
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,None,None
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,None,None
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,None,None
5,6,Danilo Aroldi,"Italian, born 1925",Italian,Male,1925,0,None,None
6,7,Bill Aron,"American, born 1941",American,Male,1941,0,None,None
7,9,David Aronson,"American, born Lithuania 1923",American,Male,1923,0,Q5230870,500003363
8,10,Irene Aronson,"American, born Germany 1918",American,Female,1918,0,Q19748568,500042413
9,11,Jean (Hans) Arp,"French, born Germany (Alsace). 1886–1966",French,Male,1886,1966,Q153739,500031000

In [26]:
from sqlalchemy import create_engine
password = 'data0480'
user = "joe"
database = "scratch"
dsn = f'postgres://{user}:{password}@localhost/{database}'
engine = create_engine(dsn, echo=True)

In [28]:
pd.read_sql('SELECT * FROM artist', engine)

2018-11-19 16:32:38,916 INFO sqlalchemy.engine.base.Engine select version()
2018-11-19 16:32:38,921 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:32:38,946 INFO sqlalchemy.engine.base.Engine select current_schema()
2018-11-19 16:32:38,952 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:32:38,963 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-19 16:32:38,968 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:32:38,983 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-19 16:32:38,988 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:32:38,994 INFO sqlalchemy.engine.base.Engine show standard_conforming_strings
2018-11-19 16:32:38,996 INFO sqlalchemy.engine.base.Engine {}
2018-11-19 16:32:39,002 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-19 16:32:39,011 INFO sqlalchemy.engine.base.Engine {'name': 'SELECT * FROM artist'}
2018-11-19 16:32:39,032 INFO sqlalchemy.engine.base.Engine SELECT * FROM artist
2018-11-19 16:32:39,036 INFO sqlalchemy.engine.base.Engine {}

,artist_id,name,bio,nationality,gender,begin_date,end_date,wiki_qid,ulan
0,1,Robert Arneson,"American, 1930–1992",American,Male,1930,1992,None,None
1,2,Doroteo Arnaiz,"Spanish, born 1936",Spanish,Male,1936,0,None,None
2,3,Bill Arnold,"American, born 1941",American,Male,1941,0,None,None
3,4,Charles Arnoldi,"American, born 1946",American,Male,1946,0,Q1063584,500027998
4,5,Per Arnoldi,"Danish, born 1941",Danish,Male,1941,0,None,None
5,6,Danilo Aroldi,"Italian, born 1925",Italian,Male,1925,0,None,None
6,7,Bill Aron,"American, born 1941",American,Male,1941,0,None,None
7,9,David Aronson,"American, born Lithuania 1923",American,Male,1923,0,Q5230870,500003363
8,10,Irene Aronson,"American, born Germany 1918",American,Female,1918,0,Q19748568,500042413
9,11,Jean (Hans) Arp,"French, born Germany (Alsace). 1886–1966",French,Male,1886,1966,Q153739,500031000
10,12,Jüri Arrak,"Estonian, born 1936",Estonian,Male,1936,0,None,None
11,13,J. Arrelano Fischer,"Mexican, 1911–1995",Mexican,Male,1911,1995,None,None
12,15,Folke Arstrom,"Swedish, 1907–1997",Swedish,Male,1907,1997,None,None
13,16,Cristobal Arteche,"Spanish, 1900–1964",Spanish,Male,1900,1964,None,None
14,18,Artko,None,None,None,0,0,None,None
15,19,Richard Artschwager,"American, 1923–2013",American,Male,1923,2013,Q568262,500114981
16,21,Ruth Asawa,"American, 1926–2013",American,Female,1926,2013,Q7382874,500077806
17,22,Isidora Aschheim,Israeli,Israeli,Female,0,0,None,None
18,23,Charles Robert Ashbee,"British, 1863–1942",British,Male,1863,1942,Q614071,500030367
19,24,Donald Ashcraft,"American, born 1927",American,Male,1927,0,None,None
20,25,E. M. Ashe,"American, 1867–1941",American,Male,1867,1941,None,None
21,26,Göran Åslin,"Swedish, born 1940",Swedish,None,1940,0,None,None
22,27,Erik Gunnar Asplund,"Swedish, 1885–1940",Swedish,Male,1885,1940,Q312070,500011232
23,28,Geneviève Asse,"French, born 1923",French,Female,1923,0,Q1978192,500025324
24,30,Sergio Asti,"Italian, born 1926",Italian,Male,1926,0,None,None
25,31,Dana Atchley,"American, 1941–2000",American,Female,1941,2000,None,None
26,32,Atelier Eggers,French,French,None,0,0,None,None
27,33,A.A.P.,American,American,None,0,0,None,None
28,34,Alvar Aalto,"Finnish, 1898–1976",Finnish,Male,1898,1976,Q82840,500002617
29,35,Aino Aalto,"Finnish, 1894–1949",Finnish,Female,1894,1949,Q273511,500024110
...,...,...,...,...,...,...,...,...,...
15622,74412,Idelle Weber,"American, born 1932",American,Female,1932,0,None,None
15623,74416,Jack Waters,None,American,Male,0,0,None,None
15624,74417,Peter Cramer,None,American,Male,0,0,None,None
15625,74418,Leslie Lowe,American,American,Female,0,0,None,None
15626,74419,Michael Wolfe,"American, born 1960",American,Male,1960,0,None,None
15627,74420,Peggy Rajski,"American, born 1953",American,Female,1953,0,None,None
15628,74421,Melvin Way,"American, born 1954",American,Male,1954,0,None,None
15629,74422,John Hillcoat,"Australian, born 1961",Australian,Male,1961,0,None,None
15630,74431,Silvia Buonvicini,"Swiss, born 1966",Swiss,Female,1966,0,None,None
15631,74436,Loredana Sperini,"Swiss, born 1970",Swiss,Female,1970,0,None,None
15632,74477,Wyatt Kahn,"American, born 1983",American,Male,1983,0,None,None
15633,74478,Nathlie Provosty,"American, born 1981",American,Female,1981,0,None,None
15634,74479,Martha Tuttle,"American, born 1989",American,Female,1989,0,None,None
15635,74485,Arthur Omar,"Brazilian, born 1948",Brazilian,Male,1948,0,None,None
15636,74535,James Agee,"American, 1909–1955",American,Male,1909,1955,None,None
15637,74536,Artur Barrio,"Brazilian, born Portugal, born 1945",Brazilian,Male,1945,0,None,None
15638,74537,Jacques Tati,"French, 1907–1982",French,Male,1907,1982,None,None
15639,74538,Massimo Magri,"Italian, born 1940",Italian,Male,1940,0,None,None
15640,74554,Ulla von Brandenburg,"German, born 1974",German,None,1974,0,None,None
15641,74555,Francis Baudevin,"Swiss, born 1964",Swiss,None,1964,0,None,None
15642,74565,Kari Miller,None,None,None,0,0,None,None
15643,74820,Ridykeulous,None,None,None,0,0,None,None
15644,74896,Unknown designer,Coptic,Coptic,None,0,0,None,None
15645,74897,Unknown designer,Persian,Persian,None,0,0,None,None
15646,74899,Rogelio París,"Cuban, born 1936",Cuban,Male,1936,0,None,None
15647,74912,Dino di Rosas,Chilean,Chilean,None,0,0,None,None
15648,74913,Jorge Barba,Chilean,Chilean,None,0,0,None,None
15649,74915,Students of the Santiago Experimental School (...,"Santiago, Chile",Chilean,None,0,0,None,None
15650,74964,Raymundo Amado,None,None,Male,0,0,None,None
15651,123456,joe v,"yes, i'm an artist, ok!?",None,None,None,None,None,None

In [29]:
df = pd.DataFrame([(123456, 'joe v', 'an artist'), (123457, 'foo b', 'also an artist')], columns=['artist_id', 'name', 'bio'])

In [30]:
df

   artist_id   name             bio
0     123456  joe v       an artist
1     123457  foo b  also an artist

In [31]:
df.to_sql('artist', con=engine, if_exists='append', index=False)

2018-11-19 16:34:27,698 INFO sqlalchemy.engine.base.Engine select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s
2018-11-19 16:34:27,704 INFO sqlalchemy.engine.base.Engine {'name': 'artist'}
2018-11-19 16:34:27,724 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-19 16:34:27,728 INFO sqlalchemy.engine.base.Engine INSERT INTO artist (artist_id, name, bio) VALUES (%(artist_id)s, %(name)s, %(bio)s)
2018-11-19 16:34:27,733 INFO sqlalchemy.engine.base.Engine ({'artist_id': 123456, 'name': 'joe v', 'bio': 'an artist'}, {'artist_id': 123457, 'name': 'foo b', 'bio': 'also an artist'})
2018-11-19 16:34:27,799 INFO sqlalchemy.engine.base.Engine COMMIT